{% extends "layout.html" %}
{% block content %}
<h1>welcome  </h1>
<div class="content-section" >
    <legend  class="border"> Account info</legend>
    <table>
      <tr>
          <td>Firstame:</td>
          <td>{{ g.users.firstname}}</td>
      </tr>
      <tr>
          <td>lastname:</td>
          <td> {{  g.users.lastname}}</td>
      </tr>
      <tr>
          <td>Email:</td>
          <td>{{  g.users.email}}</td>

      </tr>
     
  </table>
  <!-- <form method="POST" action="">
    {{ forms.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
           {{ forms.firstname.label (class="form-control-label") }}
           {{ forms.firstname(class="form-control form-control-lg") }}
        </div>

    <div class="form-group">
      {{ forms.lastname.label (class="form-control-label") }}
      {{ forms.lastname(class=" form-control form-control-lg") }}
  </div>

  <div class="form-group">
    <!-- the errors to notify that email has to in the correct order -->
    <!-- {{ forms.email.label (class="form-control-label") }}
   {% if forms.email.errors %}
   
        {{ forms.email(class=" form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in forms.email.errors %}
                  <span>{{ error}}</span>
              {% endfor %}    
      </div>
      {% else %}
         {{ forms.email(class=" form-control form-control-lg") }}
    {% endif %}
</div>

    </fieldset> -->

    <!-- <div class="form-group">
      {{ forms.submit(class="btn btn-outline-info") }}
    </div>
  </form> -->
 
{% endblock content%}