<!DOCTYPE html>
<html>
    <head>
        <title>Flask registration|{{title}} </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename ='main.css')  }}">
</head>
<body>
    <a href="{{url_for('home')}}"> Home</a>
    {% if session.user%}
           <a href="{{url_for('dashboard')}}"> Dashboard</a>
           <a href="{{url_for('logout')}}"> Logout</a>
          
          
     
        {% else %}
           <a href="{{url_for('register')}}"> Register</a>
           <a href="{{url_for('login')}}"> Login</a>
           <a href="{{url_for('adminn')}}"> Admin</a>
    {% endif%}
  
    <div class="container">
        <!-- for flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
             {% for category, message in messages%}
                <div class="alert alert-{{ category}}">
                    {{ message }}
                </div>
                {%endfor%}
             {% endif %}
          {% endwith%}

    {% block content%}
    {% endblock content%}
    </div>
</body>

</html>